---
http_interactions:
- request:
    method: post
    uri: https://tartan.plaid.com/exchange_token
    body:
      encoding: US-ASCII
      string: public_token=357f78289954f350a36b0a0283f40c713e4134ea9c27182046f521b4a64ddfb7327d6f846af8acfa10ab06bbc8a26cb9c9e2d758f90f3bde1a213520bda62c28&client_id=55deef65f1b303e8243a3f9e&secret=d8f96bcb3229e9efb9a969f6bbabc2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "test_bofa"
        }
  recorded_at: Thu, 27 Aug 2015 21:26:14 GMT
[...]
- request:
    method: post
    uri: https://tartan.plaid.com/connect/get
    body:
      encoding: US-ASCII
      string: access_token=test_bofa&options=%7B%7D&client_id=55deef65f1b303e8243a3f9e&secret=d8f96bcb3229e9efb9a969f6bbabc2
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "accounts": [
            {
              "_id": "QPO8Jo8vdDHMepg41PBwckXm4KdK1yUdmXOwK",
              "_item": "KdDjmojBERUKx3JkDd9RuxA5EvejA4SENO4AA",
              "_user": "eJXpMzpR65FP4RYno6rzuA7OZjd9n3Hna0RYa",
              "balance": {
                "available": 1203.42,
                "current": 1274.93
              },
              "institution_type": "fake_institution",
              "meta": {
                "name": "Personal account",
                "number": "9606"
              },
              "subtype": "savings",
              "type": "depository"
            },
            {
              "_id": "0AZ0De04KqsreDgVwM1RSRYjyd8yXxSDQ8Zxn",
              "_item": "KdDjmojBERUKx3JkDd9RuxA5EvejA4SENO4AA",
              "_user": "eJXpMzpR65FP4RYno6rzuA7OZjd9n3Hna0RYa",
              "balance": {
                "available": 700.03,
                "current": 720.55
              },
              "institution_type": "fake_institution",
              "meta": {
                "name": "Other account",
                "number": "9606"
              },
              "subtype": "savings",
              "type": "depository"
            }
          ],
          "transactions": [
            {
              "_account": "QPO8Jo8vdDHMepg41PBwckXm4KdK1yUdmXOwK",
              "_id": "0AZ0De04KqsreDgVwM1RSRYjyd8yXxSDQ8Zxn",
              "amount": 200,
              "date": "2014-07-21",
              "name": "POS DNSIMPLE.COM 3125490222 3,00 USD",
              "meta": {
                "location": {
                  "city": "San Francisco",
                  "state": "CA"
                }
              },
              "pending": false,
              "type": {
                "primary": "special"
              },
              "category": [
                "Transfer",
                "Withdrawal",
                "ATM"
              ],
              "category_id": "21012002",
              "score": {
                "location": {
                  "city": 1,
                  "state": 1
                },
                "name": 1
              }
            },
            {
              "_account": "QPO8Jo8vdDHMepg41PBwckXm4KdK1yUdmXOwK",
              "_id": "3mg4qV4JZycjewvKEzrLTYMzdr1MmvcO4Z3zX",
              "amount": 240,
              "date": "2014-07-24",
              "name": "POS GITHUB.COM 11VI7 4154486673 25,00 USD",
              "meta": {
                "location": {}
   [...]
- request:
    method: get
    uri: https://company.clearbit.com/v1/companies/domain/GITHUB.COM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 335805102c5a94c162eaec5b76752752
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Account-Id:
      - e70e4596-da44-4160-86e2-1a75562dcbb6
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remaining:
      - '599'
      X-Ratelimit-Reset:
      - '1440771384'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "db6ffb23-a89a-4a94-a3b8-59fbc17d8ae1",
          "name": "GitHub",
          "legalName": "GitHub, Inc.",
          "domain": "github.com",
          "domainAliases": [
            "github.net",
            "guthub.com"
          ],
          "url": "http://github.com",
          "site": {
            "url": "http://github.com",
            "title": "GitHub · Build software better, together.",
            "h1": "Build software better, together.",
            "metaDescription": "GitHub is where people build software. More than 10 million people use GitHub to discover, fork, and contribute to over 26 million projects.",
            "metaAuthor": null
          },
          "category": {
            "sector": "Information Technology",
            "industryGroup": "Software & Services",
            "industry": "Software",
            "subIndustry": "Application Software"
          },
          "tags": [
            "Software"
          ],
          "description": "GitHub is the best place to share code with friends, co-workers, classmates, and complete strangers. Over two million people use GitHub to build amazing things together.\n\nWith the collaborative features of GitHub.com, our desktop and mobile apps, and GitHub Enterprise, it has never been easier for individuals and teams to write better code, faster.",
          "location": "88 Colin P Kelly Junior Street, San Francisco, CA 94107, USA",
          "geo": {
            "streetNumber": "88",
            "streetName": "Colin P Kelly Junior Street",
            "subPremise": null,
            "city": "San Francisco",
            "postalCode": "94107",
            "state": "California",
            "stateCode": "CA",
            "country": "United States",
            "countryCode": "US",
            "lat": 37.78226710000001,
            "lng": -122.3912479
          },
          "logo": "https://logo.clearbit.com/github.com",
          "facebook": {
            "handle": "github",
            "likes": null
          },
          "linkedin": {
            "handle": "company/1418841"
          },
          "twitter": {
            "handle": "github",
            "id": "13334762",
            "bio": "How people build software",
            "followers": 663793,
            "following": 173,
            "location": "San Francisco, CA",
            "site": "https://t.co/FoKGHcCyJJ",
            "avatar": "https://pbs.twimg.com/profile_images/616309728688238592/pBeeJQDQ_normal.png"
          },
          "angellist": {
            "id": 60436,
            "handle": "github",
            "description": "GitHub is the best place to share code with friends, co-workers, classmates, and complete strangers. Over two million people use GitHub to build amazing things together.\n\nWith the collaborative features of GitHub.com, our desktop and mobile apps, and GitHub Enterprise, it has never been easier for individuals and teams to write better code, faster.",
            "followers": 363,
            "blogUrl": "http://github.com/blog"
          },
          "crunchbase": {
            "handle": "github"
          },
          "emailProvider": false,
          "type": "private",
          "ticker": null,
          "phone": "+1 415-448-6673",
          "metrics": {
            "alexaUsRank": 101,
            "alexaGlobalRank": 92,
            "googleRank": 8,
            "employees": 300,
            "marketCap": null,
            "raised": 100000000
          },
          "tech": [
            "google_apps",
            "zendesk"
          ]
        }
  recorded_at: Fri, 28 Aug 2015 14:15:25 GMT
- request:
    method: get
    uri: https://company.clearbit.com/v1/companies/domain/DNSIMPLE.COM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 335805102c5a94c162eaec5b76752752
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Account-Id:
      - e70e4596-da44-4160-86e2-1a75562dcbb6
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-R[...]
- request:
    method: get
    uri: https://company.clearbit.com/v1/companies/domain/bar.bar
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 335805102c5a94c162eaec5b76752752
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Status:
      - 404 Not Found
      X-Account-Id:
      - e70e4596-da44-4160-86e2-1a75562dcbb6
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remaining:
      - '598'
      X-Ratelimit-Reset:
      - '1440778034'
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "type": "unknown_record",
            "message": "Unknown company."
          }
        }
  recorded_at: Fri, 28 Aug 2015 16:06:14 GMT
- request:
    method: get
    uri: https://company.clearbit.com/v1/companies/domain/foo.foo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 335805102c5a94c162eaec5b76752752
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Status:
      - 404 Not Found
      X-Account-Id:
      - e70e4596-da44-4160-86e2-1a75562dcbb6
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remaining:
      - '599'
      X-Ratelimit-Reset:
      - '1440778034'
    body:
      encoding: UTF-8
      string: |-
        {
          "error": {
            "type": "unknown_record",
            "message": "Unknown company."
          }
        }
  recorded_at: Fri, 28 Aug 2015 16:06:14 GMT
- request:
    method: get
    uri: https://company.clearbit.com/v1/companies/domain/BOUNTYSOURCE.COM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 335805102c5a94c162eaec5b76752752
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      X-Account-Id:
      - e70e4596-da44-4160-86e2-1a75562dcbb6
      X-Ratelimit-Limit:
      - '600'
      X-Ratelim[...]
[...]
